@charset "utf-8";
@import "/stylesheets/listings.css";
@import "/stylesheets/pages.css";
@import "/stylesheets/input.css";
/** 
 * Cebu Directories Base stylesheet
 *
 * @author		Paul Villacorta		<pwvillacorta@cebudirectories.com>
 * @copyright &copy; 2009 of Cebu Directories
 */

* { 
	margin:0; 
	padding:0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background: url(/images/bg.png) repeat-x top;
	color: #666666;
}

img {
	border: none;
}

a { color: #666666; }

h1, h2, h3, h4, h5, h6 {
	text-align: left;
}

p { 
	color: #666666; 
	line-height: 17px;
	letter-spacing: .2px;
	margin: 10px auto;
}
/** User Defs **/
#wrapper {
	margin: 0 auto;
	width: 900px;
	height: 100%;
}

#top-nav {
	text-align: right;
	margin-top: 5px;
}

#logo { 
	text-align:left; 
	margin-top: 15px;
}

#menu {
	clear: both;
	margin-top: 18px;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
	#menu ul {
		list-style-type: none;
		padding: 0; margin: 0;
	}
	#menu li {
		background: url(/images/bg-menusel.png) no-repeat;
		float: left;
		width: 100px;
		height: 30px;
		padding: 8px 0px;
		text-align: center;
	}
	#menu li:hover, #menu li.selected {
		background: url(/images/bg-menu.png) no-repeat;
	}
	#menu li a {
		color: #FFFFFF;
		text-decoration: none;
		display: block;
	}

#body-mark {
	float: left;
	background: #FFFFFF url(/images/bg-home-market.jpg) left no-repeat;
	height: 306px; width: 540px;
	text-align: right;
}
#body-mark-right {
	float: right;
	width: 353px;
	height: 306px;
}

#latest-listings {
	float:left;  
	width: 285px; 
	margin-right: 10px;
}
#latest-listings ol { padding-left: 25px; }
#latest-listings ol li {
	background: #FFFFFF url(/images/bg-div.gif) bottom no-repeat;
	padding: 5px 10px;
}
#latest-listings ol li:hover {
	background: #FAFAFA url(/images/bg-div.gif) bottom no-repeat;
}
#low-body { float: left; }
#low-body ul {
	list-style-type: none;
	margin-top: 5px;
}
#low-body ul li {
	background: url(/images/bullet.png) left no-repeat;
	padding: 3px 0px 2px 20px;
	margin-left: 0px;
}
#low-body ul li a { text-decoration: none; }
#low-body ul li a:hover {
	text-decoration: underline;
}

#ads {
	float:left; 
	width: 130px;
	margin-top: 40px;
}
#ads img {
	margin: 3px auto;
}
#footer {
	text-align: left;
	line-height: 17px;
	margin: 30px 0px 20px 0px;
}
/** Support **/
.clear {
	clear: both;
}

.title {
	font-size: 18px;
	font-weight: normal;
	color: #577702;
	text-decoration: underline;
	margin-bottom: 10px;
}
.headers {
	border-bottom: 3px solid #666666;
	font-size: 14px;
	font-weight: bold;
	color: #666666;
	margin: 10px 0px 0px 0px;
	padding-bottom: 10px;
}
.searchfield {
	font-size: 23px;
	font-weight: bold;
	color: #999999;
	padding: 2px 3px;
	border: 1px solid #CCCCCC;
	width: 280px;
	margin-right: 5px;
}
.searchbutton {
	background: url(/images/button-search.png) top no-repeat;
	height: 45px; width: 45px;
	border: none;

}