@charset "utf-8";
/* CSS Document */

#category, #businesses {
	float: left;
	width: 150px;
	border-left: 1px solid #bee170;
}
#businesses { width: 180px; }
#category ul, #businesses ul {
	padding: 0px; margin: 0px;
	list-style-type: none;
}

#category ul li, #businesses ul li{
	background: url(/images/bg-categories.png) top center repeat-x;
	padding: 7px 5px 0px 10px;
	font-size: 11px;
	font-weight: bold;
	height: 20px;
}
#businesses ul li {
	background: url(/images/bg-businesses.png) top center repeat-x;
}
#category ul li a { 
	color: #557502; 
	text-decoration: none;
}

#main-listing, #main-pages {
	float: left;
	width: 550px;
	padding-left: 15px;
}
#main-pages { width: 560px; }

#listing-website, #listing-address, #listing-email,
#listing-mobile, #listing-phone, #listing-fax { 
	padding: 15px 0px 0px 40px; 
	height: 15px;
	font-weight: bold;
	color: #333333;
	margin-left: 30px;
}
#listing-website { background: url(/images/icon-website.png) left bottom no-repeat; }
#listing-address { background: url(/images/icon-address.png) left bottom no-repeat; }
#listing-email { background:url(/images/icon-email.png) left bottom no-repeat; }
#listing-mobile { background:url(/images/icon-mobile.png) left bottom no-repeat; }
#listing-phone { background:url(/images/icon-phone.png) left bottom no-repeat; }
#listing-fax { background:url(/images/icon-fax.png) left bottom no-repeat; }

#listing-ads {
	float: right; width: 130px; text-align: center;
	margin: -5px 0px 10px 10px;
	background: #FFF;
}
#listing-ads img { padding: 5px 0px; }
.listing-title, .pages-title {
	font-size: 18px;
	color: #557502;
	margin-bottom: 20px;
}
#breadcrumbs {
	font-size: 11px;
	color: #666666;
}
#breadcrumbs a {
	padding: 1px 3px;
	text-decoration: none;
}
#breadcrumbs a:hover {
	color: #333333;
	background: #ECECEC;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.listing-label {
	font-weight: bold;
	color: #557502;
}
.search {
	font-size: 18px;
	font-weight: normal;
	color: #999999;
	padding: 2px 3px;
	border: 1px solid #CCCCCC;
	width: 235px;
	margin-right: 5px;
}
.searchb {
	width: 84px; height: 28px;
	background: url(/images/button-search2.png) top no-repeat;
	border: none;
}

/** Events **/
#events {
	margin-bottom: 20px;
}
#events ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#events ul li {
	float: left;
	height: 36px;
}
#events ul li.date, #events ul li.reg {
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	width: 40px;
	text-align: center;
}
#events ul li.date { background: url(/images/bg-sponsored.png) repeat-x top; }
#events ul li.reg {  background: url(/images/bg-regular.png) repeat-x top; }
#events ul li.event {
	width: 280px;
	margin-left: 5px;
	font-size: 16px;
}
#events ul li.event a {
	color: #557502;
	text-decoration: underline;
	font-weight: bold;
}
.event_headers {
	font-size: 14px;
	color: #333333;
	margin-bottom: 5px;
}
.month {
	color: #FFF;
	font-weight: bold;
	font-size: 13px;
	letter-spacing: 1px;
}
.num {
	font-size: 18px;
	color: #000000;
	font-weight: bolder;
	letter-spacing: 1px;
}

/*** Help Sidebar ***/
#sidebar {
	width: 325px; padding-top: 20px;
}
#sidebar ul {
	list-style-type: none;
	margin-left: 5px;
}
#sidebar ul li { padding: 3px 0px 3px 15px; }
#sidebar ul li a {
	text-decoration: underline;
	color: #557502;
}
#sidebar ul li.parent {
	margin-left: -20px;
	font-weight: bold;
}
#sidebar ul li.parent a { text-decoration: none; }