@charset "utf-8";
/* CSS Document */

#main-pages p a { 
	font-weight: bold; 
	text-decoration: none;
	color: #557502;
}
#main-pages p a:hover { color: #666666; }
#main-pages h2 { font-size: 18px; }