@charset "utf-8";
@import url(reset-min.css);
@import url(accordion-style.css);

*, body { 
	padding: 0; 
	margin: 0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 11px;
}
a { 
	text-decoration: none; 
	color: #6D8309;
}
p { color: #333333; }
h1, h2, h3, h4, h5, h6 { 
	font-weight: bold;
	padding: 8px 0px;
}
h1 { font-size: 20px; }
h2 { font-size: 18px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }
h5 { font-size: 12px; }
h6 { font-size: 10px; }

/*** CEBU DIRECTORIES MAIN DIVS ***/
#cd-body 	   { height: 100%; background: #FFF; }
#cd-wrapper    { width: 960px; margin: 0px auto; }
#cd-header 	   { }
#cd-banner 	   { height: 250px; width: 960px; background: #300; }
#cd-content    { width: 100%; }
#cd-categories { float: left; padding: 0px 0px; }
#cd-listing    { float: left; margin-left: 10px; width: 530px; background: #FFF; }
#cd-listing {
	border-top:2px solid #dcdcdc; 
	border-left:1px solid #dcdcdc; 
	border-right:1px solid #dcdcdc; 
	border-bottom:1px solid #dcdcdc; 
	border-radius:5px; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	-khtml-border-radius:5px; 
	-o-border-radius:5px;
}
#cd-advertise {
	float: left;
	margin-left: 10px;
	background: #FFF; 
}
#cd-footer { 
	background: #FFF;
	width: 100%; height: 100px;
	margin-top: 25px;
	padding-top: 10px;
	padding-bottom: 25px;
	border-top: 1px dotted #CCCCCC;
}
#cd-sitemap {
	background: #EDEDED;
	margin-bottom: 15px;
}
#cd-header, #cd-banner { margin-bottom: 5px; }

#logo {
	height: 358px; 
	width: 50px;
	float: left; 
	margin-top:5px; 
	margin-left: -50px; 
	position: fixed;
	background: url(../images/logo.png) bottom no-repeat;
}
#logo-footer {
	width:100%; height: 30px;
	background: url(../images/logo-foot.png) left top no-repeat;
}
#footer-urls {
	float: right;
	height: 30px;
	background: none;
}
#footer-urls li { float: right; margin-left: 20px; }
#footer-urls li a { font-size: 13px; font-weight: lighter; }

#home {
	height: 29px; width: 35px;
	margin-left: 6px;
	background: url(../images/home.gif) top center no-repeat;
	border: 1px solid #FFFFFF;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	-o-border-radius:5px;
}
#home:hover {
	background: url(../images/home-sel.gif) top center no-repeat;
	border: 1px solid #97ab40;
}
ul#sitemaps { padding: 10px 0px; }
ul#sitemaps li { 
	width: 18%; float: left; float: left; padding-left: 10px; 
}
/***  CD-CONTENT ***/
#cd-content h1, #cd-content h2 { color: #6D8309; }
#cd-content h3, #cd-content h4,
#cd-content h5, #cd-content h6 { 
	color: #333; padding-left: 10px; 
}
#cd-content p { padding: 5px 10px; }
/***   SERVICES    ***/
.services_block {
	width: 320px;
	display: block;
}
.services_block a img.icenter {
	display: block;
	margin: 0 auto;
}
.services_block a:hover img { opacity:.8;  
    filter:alpha(opacity=80);  
    -moz-opacity:.80; 
	visibility: hidden;
	}
.services_listing, .services_advertising, .services_webdev {
	margin: 20px 0px;
}
.services_listing 	  { background: url(../images/services/business-directory-listing.jpg) top center no-repeat; }
.services_advertising { background: url(../images/services/advertising.jpg) top center no-repeat; }
.services_webdev 	  { background: url(../images/services/web-development.jpg) top center no-repeat; }
/***  LISTINGS  ***/
.details_container { height: 17px; }
.details {
	float: left;
	font-size: 10px;
	margin-left: 10px;
}
.details_text {
	font-size: 11px;
	color: #333333;
	text-align: right;
}
.address, .telno, .website, .email {
	height: 16px;
	text-indent: 20px;
	width: 85px;
}
.address { background: url(../images/contacticons.gif) 0px 0px no-repeat; }
.telno   { background: url(../images/contacticons.gif) 0px -33px no-repeat; }
.website { background: url(../images/contacticons.gif) 0px -50px no-repeat; }
.email	 { background: url(../images/contacticons.gif) 0px -18px no-repeat; }
/*** ADVERTISING SECTION ***/
#ads {
	width: 202px;
	margin-bottom: 10px;
	background: #FFF; 	
}
#ads h5 {
	text-align:left; 
	padding: 0px; 
	margin-bottom: 3px;	
}
#ads h5 a { border-bottom: 1px dotted #CCCCCC; }
.divider {
	background: url(../images/line.png) bottom repeat-x; 
	height:5px; margin-bottom: 10px;
}
/*** FORM-CONTACT ***/
#form-contact {
	margin: 5px 15px;
	padding: 5px 0px;
}
#form-contact input[type="text"], #form-contact textarea,
#form-contact select {
	border: 1px solid #999;
	width: 300px;
	font-size: 16px;
	padding: 5px;
	margin: 3px 0px 10px 0px;
}
#form-contact label { font-size: 12px; }
#form-contact select { width: 310px; }
#form-contact textarea { width: 500px; height: 200px; }

.submit {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	border: none;
	background: #6D8309 url(../images/navmenu.png) -750px 0 no-repeat;
	padding: 5px 20px;
	margin-top: 15px;
	-moz-border-radius:15px; 
	-webkit-border-radius:15px; 
	-khtml-border-radius:15px; 
}
.submit:active { background: url(../images/navmenu.png) -750px -76px no-repeat; }
/***  NAVIGATION ***/
#cd-navigation {
	margin-top: 5px;
	margin-bottom:5px;
	background: url(../images/navmenu.png) left top no-repeat;
	width: 960px;
	height: 38px;
}
#cd-navigation ul { margin: 0px; padding: 0px; }
#cd-navigation ul li { float: left; height: 38px; list-style: none; }
#cd-navigation ul li a { display: block; border: none; height: 38px; width: 120px; }

/** NAVIGATION ITEMS **/
#listing  { background: url(../images/navmenu.png) 0px 0 no-repeat; }
#event    { background: url(../images/navmenu.png) -120px 0 no-repeat; }
#blog     { background: url(../images/navmenu.png) -240px 0 no-repeat; }
#services { background: url(../images/navmenu.png) -360px 0 no-repeat; }
#advertise{ background: url(../images/navmenu.png) -480px 0 no-repeat; }
#contact  { background: url(../images/navmenu.png) -600px 0 no-repeat; }
/** HOVER STATE **/
#listing:hover  { background: url(../images/navmenu.png) 0px -38px no-repeat; }
#event:hover    { background: url(../images/navmenu.png) -120px -38px no-repeat; }
#blog:hover     { background: url(../images/navmenu.png) -240px -38px no-repeat; }
#services:hover { background: url(../images/navmenu.png) -360px -38px no-repeat; }
#advertise:hover{ background: url(../images/navmenu.png) -480px -38px no-repeat; }
#contact:hover  { background: url(../images/navmenu.png) -600px -38px no-repeat; }
/** ACTIVE STATE **/
#listing:active  { background: url(../images/navmenu.png) 1px -76px no-repeat; }
#event:active    { background: url(../images/navmenu.png) -120px -76px no-repeat; }
#blog:active     { background: url(../images/navmenu.png) -240px -76px no-repeat; }
#services:active { background: url(../images/navmenu.png) -360px -76px no-repeat; }
#advertise:active{ background: url(../images/navmenu.png) -480px -76px no-repeat; }
#contact:active  { background: url(../images/navmenu.png) -600px -76px no-repeat; }
/** ACTIVE STATE **/
#listing-sel  { background: url(../images/navmenu.png) 1px -114px no-repeat; width: 120px; }
#event-sel    { background: url(../images/navmenu.png) -120px -114px no-repeat; }
#blog-sel     { background: url(../images/navmenu.png) -240px -114px no-repeat; }
#services-sel { background: url(../images/navmenu.png) -360px -114px no-repeat; }
#advertise-sel{ background: url(../images/navmenu.png) -480px -114px no-repeat; }
#contact-sel  { background: url(../images/navmenu.png) -600px -114px no-repeat; }

#categories {
	border-top:2px solid #dcdcdc; 
	border-left:1px solid #dcdcdc; 
	border-right:1px solid #dcdcdc; 
	border-bottom:1px solid #dcdcdc; 
	border-radius:5px; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	-khtml-border-radius:5px; 
	-o-border-radius:5px;
	width: 202px;
	margin-bottom: 10px;
	background: #FFF; 
}
#ads ul 	  { margin: 0px; padding: 0px; }
#ads ul li { padding: 5px 10px; border-bottom: 1px solid #CCC; display: block; }
#ads ul li:hover { 
	font-weight: bold; 
	color: #5b720a; 
}
.header-top, .header-bottom {
	background: url(../images/bg-title.png) 0 0 no-repeat;
	border-left:1px solid #dcdcdc; 
	border-right:1px solid #dcdcdc; 
	width: 200px;
}
.header-top     { padding: 5px 0px; height: 18px; }
.header-bottom  { background-position: 0px -49px; height: 10px; }

.listing		{ margin-bottom: 10px; border-bottom: 1px solid #DDD; padding-bottom: 5px; }
.listing-top, .listing-bottom { width: 530px; }
.listing-top    { background: url(../images/bg-listing.png) 0px 0px no-repeat; padding: 5px 0px; height: 16px; text-indent: 10px; }
.listing-bottom { background: url(../images/bg-listing.png) 0px -53px no-repeat; height: 10px;}
.listing-feature{ border-bottom: 1px solid #CCC; width: 98%; margin: 0px auto; margin-bottom: 10px; height: 320px; }
.listing-latest { width: 98%; margin: 0px auto; margin-bottom: 10px; color: #6D8309; }

/*** MISCS ***/
.title  { font-size: 13px; font-weight: bold; color: #333; text-shadow: 1px 1px #CCC; }
.normal { font-weight: normal; color: #000000; }
.stitle { color: #333; font-weight: bold; }

.left	{ float: left; }
.right  { float: right; }
.center { text-align: }
.shadow { background: url(../images/shadow.png) top center no-repeat; height: 15px; margin-top: -2px; }
.clear  { clear: both; }

.small  { font-size: 14px; }
.medium { font-size: 16px; }
.large  { font-size: 18px; }