<h3> Prospects : <%= link_to "Add prospect", new_prospect_path %></h3>

<%= will_paginate @prospects %>
<table>
  <tr style="height: 25px; background-color: #c2e8fd">
    <td style="width:190px">Name</td>
    <td style="width:170px">Email Address </td>
    <td style="width:170px">Company </td>
    <td style="width:90px">Status </td>
    <td style="width:100px">Created at </td>
    <td>Actions </td>
  </tr>
  <%= render :partial => 'prospect_row', :collection => @prospects %>
</table>



