<h3> Email Addresses </h3>
<%= render :partial => 'new'%>
<br/>
<table>
  <tr>
    <td>Email Address</td>
    <td>Date sent </td>
    <td>Created at </td>
    <td>Actions </td>
  </tr>
  <%= render :partial => 'email_row', :collection => @emails %>
</table>  
