body {
	background:  #f5f4eb;
	font:small "Myriad Pro","Myriad Web","Lucida Grande","Trebuchet MS","Tahoma","Helvetica","Arial",sans-serif;
	margin: 0;
	color: #333333;
}

input {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

#login_form {
  text-align: left;
  margin: 0px;
  padding: 0px;
}

#error_wrapper {
  color: red;
  width: 100%;
  background-color: #FFDBE4;
  padding: 2px;
}

#div_header {
  background-color: #CFCFCF;
  width: 100%;
  margin: 0px;
  padding-top:5px;
  padding-bottom: 5px;
  font-weight: 600;
  font-size: 11px;
}

#top_menu {
  padding: 10px; 
  float:left;
  width: 120px;
  min-height: 700px;
}
#top_menu ul {
  list-style-type:none; 
  margin:0px; 
  padding:0px
}

#top_menu ul li {
 list-style:none;
 display: list-item; 
 margin:0px; 
 padding: 0px
}

ul li {
  height: 20px;
}

#right_content {
  padding-top: 15px;
}

#notice_wrapper {
  color: #019f4a;
}