           <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<%= stylesheet_link_tag("default") %>
<title>Cebub Directories</title>
</head>
<body>

	<div id="wrapper">
    	<div id="top-nav">
        	<a href="" alt="" title="">Create account</a> &nbsp;|&nbsp; <a href="help.php" alt="" title="">Help</a> &nbsp;|&nbsp; <a href="" alt="" title="">Client Log-in</a>
        </div>
        <div id="logo">
        	<a href="index"><img src="/images/cebu-directories-logo.png" alt="" title="" /></a>
        </div>
    
    	<div id="menu">
        	<ul>
            		                <li> <%= link_to("Home", :controller => "index" )%></li>
					                <li> <%= link_to("Services", :controller => "services" )%></a></li>
					                <li> <%= link_to("Listings", :controller => "listing" )%></li>
					                <li> <%= link_to("Events", :controller => "events" )%></li>
					                <li> <%= link_to("Advertise", :controller => "advertise" )%></li>
					                <li class="selected"> <%= link_to("Contact Us", :controller => "contactus" )%></li>
				            </ul>
            <div class="clear"> </div>
        </div>

     





		<div id="main-pages" style="width: 885px">

        <%= render :partial => 'services/top_ads' -%>

			<h1 class="pages-title" style="margin-top: 15px;">Contact Us </h1>

		    <p>
		     <a href="" alt="Cebu Directories Business Listing" title="Cebu Directories Business Listing"> Cebu Directories </a>would be glad to hear any messages, comments, suggestions from our valued clients that may help improve our services. You may contact us by sending us an email to <a href="mailto:info@cebudirectories.com" alt="Email us here!" title="Email us here!"> info [at] cebudirectories [dot] com </a>
			</p>

		    <p>
		    We will get back to you about your concern within 48-hours. 
			</p>

		    <p>
		    You may also you use the contact form below. 
		    </p>

		    <form>
		    <span id="breadcrumbs">Name</span><br />
		    <input type="text" class="contactForm" /><span class="required">*</span><br />
		    <span id="breadcrumbs">Email</span><br />
		    <input type="text" class="contactForm" /><span class="required">*</span><br />
		    <span id="breadcrumbs">Subject</span><br />
		    <input type="text" class="contactForm" /><span class="required">*</span><br />
		    <span id="breadcrumbs">Type</span><br />
		    <select class="contactForm">
		    	<option>Listing Inquiry</option>
		        <option>Advertising Inquiry</option>
		        <option>Help Support</option>
		        <option>Comments and Suggestions</option>
		    </select><br />
		    <span id="breadcrumbs">Message</span><span class="required">*</span><br />
		    <textarea class="textareaForm"></textarea>

		    <br />
		    <input type="submit" value="Send Now" style="margin: 10px 0px 0px 435px;"/>

		    </form>

		    <div class="clear"> </div>
		</div>

		<div class="clear"> </div>



                 
       


	<div id="footer">
    	<img src="images/cebu-directories-icon.png" align="left" style="margin-right: 15px;"/>
    	Cebu Directories  |  
		<%= link_to("About Us", :controller => "aboutus" )%>  |  
		<%= link_to("Listings", :controller => "listing" )%>  |  
		<%= link_to("Events", :controller => "events" )%>  |  
		Blogs  |  
		Contact Us <br />
        Services  |  
		Web Development  |  
		Hosting  |  
		Internet Marketing <br />
        Copyright of 2007 Cebu Directories  All rights reserved.
    </div>

<!-- wrapper close tag -->
</div>

</body>
</html>