           <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<%= stylesheet_link_tag("default") %>
<title>Cebub Directories</title>
</head>
<body>

	<div id="wrapper">
    	<div id="top-nav">
        	<a href="" alt="" title="">Create account</a> &nbsp;|&nbsp; <a href="help.php" alt="" title="">Help</a> &nbsp;|&nbsp; <a href="" alt="" title="">Client Log-in</a>
        </div>
        <div id="logo">
        	<a href="index"><img src="/images/cebu-directories-logo.png" alt="" title="" /></a>
        </div>
    
    	<div id="menu">
        	<ul>
            		                <li> <%= link_to("Home", :controller => "index" )%></li>
					                <li> <%= link_to("Services", :controller => "services" )%></a></li>
					                <li class="selected"> <%= link_to("Listings", :controller => "listing" )%></li>
					                <li> <%= link_to("Events", :controller => "events" )%></li>
					                <li> <%= link_to("Advertise", :controller => "advertise" )%></li>
					                <li> <%= link_to("Contact Us", :controller => "contactus" )%></li>
				            </ul>
            <div class="clear"> </div>
        </div>

     


		<div style="float:left;">
			<div style="margin-bottom: 5px;">
		    	<form>
		        	<input type="text" class="search"/><input type="submit" value="" class="searchb"/>
		        </form>
		    </div>

		    <div id="category">
		        <ul>
		            <%
		            @categories.each do |cat|  %>
			          <li><%=  link_to(cat.to_s, :url => {:action => "/listing"} ) %></li>    
			        <% end
		            %>
		        </ul>
		    </div>

		    <div id="businesses">
		        <ul>
		            <%
		            @sub_categories.each do |cat|  %>
			          <li><%=  link_to(cat.to_s, :url => {:action => "/listing"} ) %></li>    
			        <% end
		            %>
		        </ul>
		    </div>
		</div>

		<div id="main-listing">
          <%= render :partial => 'services/top_ads' -%>

			<div id="breadcrumbs" style="margin-top: 15px;"> <a href="">Home</a> > <a href="">Education</a> > <a href="">Universities</a> > <a href="">University of San Carlos</a> </div>
			<h1 class="listing-title">University of San Carlos</h1>

		    <center>
		    <img src="images/image.png"/>
		    </center>

		    <div id="listing-address" style="margin-top: 15px;"> #342-G McArthur Highway and a long Street Address</div>
		    <div id="listing-phone"> 333 - 3333 </div>
		    <div id="listing-mobile"> 09199999999 </div>
		    <div id="listing-fax"> Fax </div>
		    <div id="listing-email"> info [at] cebudirectories [dot] com </div>
		    <div id="listing-website"> http://www.cebudirectories.com </div>

		    <p>
		    The licenses for most software are designed to take away your
		License is intended to guarantee your freedom to share and change free
		software--to make sure the software is free for all its users.  This
		General Public License applies to most of the Free Software
			</p>

		    <p>
		    The licenses for most software are designed to take away your
		freedom to share and change it.  By contrast, the GNU General Public
		License is intended to guarantee your freedom to share and change free
		instead.)  You can apply it to your programs, too.
			</p>

		    <div class="clear"> </div>
		</div>

		<div class="clear"> </div>


                 
       


	<div id="footer">
    	<img src="images/cebu-directories-icon.png" align="left" style="margin-right: 15px;"/>
    	Cebu Directories  |  
		<%= link_to("About Us", :controller => "aboutus" )%>  |  
		<%= link_to("Listings", :controller => "listing" )%>  |  
		<%= link_to("Events", :controller => "events" )%>  |  
		Blogs  |  
		Contact Us <br />
        Services  |  
		Web Development  |  
		Hosting  |  
		Internet Marketing <br />
        Copyright of 2007 Cebu Directories  All rights reserved.
    </div>

<!-- wrapper close tag -->
</div>

</body>
</html>