<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /> 
	<meta name="Distribution" content="Global" /> 
	<meta name="verify-v1" content="HPFKZjNDMP2X6Vq/j7socoRtksdjGX1tyvzKPo4Qbn0=" /> 
	<meta name="Robots" content="index,follow" /> 
	<meta name="Description" content="Cebu Directories is an online cebu directory listing that caters to the needs of Cebu businesses, organizations, and other entities who are seeking to publish information about themselves, their products, or their services on the World Wide Web." /> 
	<meta name="Keywords" content="cebu directory, cebu directories, cebu business directory, directory" /> 
	<link rel="stylesheet" href="css/main.css" type="text/css" media="screen"/> 
	<title>Cebu Directories Job Board</title> 
  <%= stylesheet_link_tag :all %>
</head> 
<body id="cd-body"> 

<div id="cd-wrapper"> 
  <div id="cd-header"> 
    <%= render :partial => "global/header" %>
    <%= yield%>
  </div>
  <div id="cd-footer"> 
    Cebu Directories Job Board is a service of <a href="" title="">Cebu Directories Co.</a> 
  </div> 
</div>

</body> 
</html>