<div id="ads"> 
	<%= image_tag(image_path("ads/ads1.jpg"))%>
	<%= image_tag(image_path("ads/ads2.gif"))%>
	<%= image_tag(image_path("ads/ads3.jpg"))%>
	<%= image_tag(image_path("ads/ads4.jpg"))%>
	<%= image_tag(image_path("ads/ads5.jpg"))%>
	<%= image_tag(image_path("ads/ads.png"))%>    
</div>
