<h2 class="headers"> Whats NEW!</h2>

<img src="images/image.png" align="left" style="margin: 5px 10px;"/>
<h4 class="title"><a href="#" class="title">International News Here</a></h4>
<p>After Ebarita's death was reported, her 'close friend' volunteered information to police investigators.  These included printouts of some online chats between Ebarita and her US-based boyfriend, as well as between the friend and the boyfriend. read more </p>