<div class="left" style="cursor:pointer" onclick="location.href='<%=jobs_path%>'"><h1>Cebu Directories Job Board</h1></div>
<div class="caption right">
  Welcome to the newest  jobs site in Cebu.</div> 
<div class="clear"></div>

