<div id="cd-search">
  <form action="" method="post" id="" name=""> 
    <input type="text" value="" id="" name="" class="searchF"/> 
    <div class="post-new right"><%= link_to "Post a Job for FREE", new_job_path %></div> 
  </form> 
</div>